.wrapper {
  padding-top: 16px;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 40px;
  }
}

.backgroundContainer {
  position: absolute;
  z-index: -2;
  width: 100%;
}

.statistics {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 50px auto;
  background-color: rgba(151, 151, 151, 0.233);
  border-radius: 5px;
  overflow: hidden;
}

.btn {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
}

.balance {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
}
