@import "../../globalStyles/size";
@import "../../globalStyles/vars";

.form_category_list {
    position: absolute;
    left: 0px;
    top: 100%;
    color: $secondaryTextColor;
    box-shadow: 0px 3px 4px rgba(170, 178, 197, 0.4);
    background-color: $whiteColor;
    border: none;
    outline: none;
    z-index: 100;

    @include size(tablet) {
        width: 171px;
    }

    @include size(desktop) {
        width: 188px;
    }
}

.form_input_category_parent {
    position: relative;

    @include size(mobile-only) {
        margin-bottom: 30px;
    }
}

.category_label {
    padding: 9px 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $secondaryTextColor;
    height: 32px;
    width: 188px;
    display: inline-block;
    cursor: pointer;
    outline: none;

    &:hover,
    &:focus {
        background-color: $grayBackgroundColor;
        color: $blackColor;
    }
}

.arrow {
    position: absolute;
    right: 18px;
    top: 18px;
    width: 12px;
    height: 8px;
    color: $basicTextColor;
}

.arrow_down {
    @extend .arrow;
    background-image: url("../../images/icons/arrow-down.svg");
    background-repeat: no-repeat;
}

.arrow_up {
    @extend .arrow;
    background-image: url("../../images/icons/arrow-up.svg");
    background-repeat: no-repeat;
}

.form_input_category {
    position: relative;
    border-top: 2px solid $grayBackgroundColor;
    border-right: none;
    border-bottom: 2px solid $grayBackgroundColor;
    border-left: none;
    outline: none;
    padding-left: 21px;

    &:focus+.arrow {
        transform: rotate(-180deg);
    }

    @include size(mobile-only) {
        width: 282px;
        height: 44px;
        border: 2px solid $whiteColor;
        border-top: none;
        border-radius: 0px 0px 16px 16px;
        background-color: inherit;
    }

    @include size(tablet) {
        width: 171px;
        height: 44px;
    }

    @include size(desktop) {
        width: 188px;
    }
}