@import '../../globalStyles/vars';
.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(29, 29, 29, 0.6);
}

.modal {
  position: absolute;
  top: 30%;
  left: 48%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 280px;
  height: 194px;

  background-color: $whiteColor;
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;
  padding: 20px;
}



// .modal.active{
//   transform: scale(0);
// }

 @media screen and (min-width: 768px) {
  .modal{
    width: 380px;
    
  }
 }



.closeModalBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 20px;
  color: #52555F;
  fill: #52555F;
  font-weight: 500;

  padding: 3px;
  cursor: pointer;

}
 

.closeModalBtn:hover,
.closeModalBtn:focus{
  cursor: pointer;
    
    border-radius: 5px;
    fill: $orangeBasicColor;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  width: 125px;
  height: 44px;
  margin-right: 15px;
  border: 2px solid $grayBackgroundColor;
  border-radius: 16px;
  cursor: pointer;
  background-color: transparent;
  font-family: 'Roboto';
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $basicTextColor;
}

.btn:hover,
.btn:focus {
  border: none;
  background-color: $orangeBasicColor;
  color: $whiteColor;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 2px solid $orangeBasicColor;
}

.massage{
  font-family: 'Roboto';
  align-items: center;
  font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
   color: $basicTextColor;
}