.header {
  height: 56px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}
.logo {
  width: 90px;
  height: 30px;
}
.userNav {
  display: flex;
  justify-content: space-between;
}
.DesktopHeader {
  min-width: 1279px;
  composes: header;
  padding-left: 36px;
  padding-right: 62px;
}
.TabletHeader {
  composes: header;
  padding-left: 20px;
  padding-right: 20px;
}
